{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="formBlock">
<div class="col-sm-4">
<form method="post" action=".">{% csrf_token %}
 
  {{ form.email|as_crispy_field }}<br /><br />

  <button id="password-reset-button" type="submit"> Submit</button>

 <!--  <input  value="{% trans 'Submit' %}" class="updateButton" style="width: 125px; height: 30px; padding-top: 5px; padding-bottom: 5px; line-height: 20px; color: #fff;" /> -->
</form>
</div>
</div>
{% endblock %}
