{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

{% if validlink %}
<div class="formBlock">
<div class="col-sm-4">
<form method="post" action=".">{% csrf_token %}


  {{ form.new_password1|as_crispy_field }}<br /><br />


  {{ form.new_password2|as_crispy_field }}<br /><br />

	<button id="password-reset-button" type="submit">Submit</button>

</form>
</div>
{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}
</div>
{% endblock %}
